pre {
    counter-reset: line;
    white-space: pre-line;
    /* Optional Styling */
    border-left: 4px solid var(--main-bg-color);
    background-color: rgba(0,0,0,.1);
    /* width: fit-content;
    max-width: 96%; */
    padding: 10px;
    line-height: 1.4em;
    overflow-x: auto;
}

code {
    counter-increment: line;
    white-space: pre-wrap;
}

code:before {
    content: counter(line);
    -webkit-user-select: none;
    /* Optional Styling */
    display: inline-block;
    border-right: 1px solid rgba(0,0,0,.3);
    padding: 0 .5em;
    margin-right: .5em;
}

.codeElementName {
    color: #ad4545;
}

.codeAttributeValue {
    color: #a97143;
}

.codeString {
    color: #51ad45;
}

.codeKeyword {
    color: #8345ad;
}

.codeFunction {
    color: #448faa;
}

.codeObject {
    color: #ad4545;
}
