<html>
	<head>
		<title>Jordan Bourne</title>
	</head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../index.css">
    <link rel="stylesheet" type="text/css" href="../../navbar.css">
    <link rel="stylesheet" type="text/css" href="./../blog.css">
    <link rel="stylesheet" type="text/css" href="./../code.css">
	<body>
        <div class="navbar">
            <div class="navName">
                <a href="../../index.html" class="basicLink">Jordan Bourne</a>
            </div>
            <div class="navButtons">
                <div class="navButton" id="buttonOne">
                    <a href="../../index.html" class="basicLink">Home</a>
                </div>
                <!-- <div class="navButton" id="buttonTwo">
                    <a href="../topPosts/topPosts.html" class="basicLink">Top Posts</a>
                </div>
                <div class="navButton" id="buttonThree">
                    <a href="../browse/browse.html" class="basicLink">Browse</a>
                </div> -->
            </div>
        </div>
        <div class="blogSplashBackground"></div>
        <div class="blogContainer">
            <div class="blogBody">
                <div class="blogContent">
                    <h1 class="blogTitle">
                        Writing the First Lines of Code (MVP Part 2)
                    </h1>
                    <h2 class="blogSubTitle">
                        <span class="blogAuthor">
                            By Jordan Bourne
                        </span>
                        <span class="blogDate">
                            / 2018-07-21
                        </span>
                    </h2>
                    <div class="blogText">
                        Hello World
                    </div>
                </div>
                <div class="blogNav">
                    <a href="../../about/about.html">
                        <div class="blogAuthor">
                            <img src="../../images/me.jpg" class="blogAuthorImage" alt="author"/>
                                <div class="blogAuthorSubTitle">About / Contact</div>
                            <h3 class="blogAuthorName">JORDAN BOURNE</h3>
                        </div>
                    </a>
                    <div class="recentPosts">Recent Posts</div>
                    <h3 class="postTitle">
                        <p>
                            <a href="./startingDevelopment.html">
                                Writing the First Lines of Code (MVP Part 2)
                            </a>
                        </p>
                        <p>
                            <a href="./theBeginnings.html">
                                The Makings of a Minimum Viable Product
                            </a>
                        </p>
                        <p>
                            <a href="../templates/templatesIntroduction.html">
                                Introduction to the HTML5 Template Element
                            </a>
                        </p>
                    </h3>
                </div>
            </div>
            <div class="footer">
                Jordan Bourne
            </div>
        </div>

        <template id="testTemplate">
            <div class="testDiv">
                Hello World
            </div>
        </template>

        <script src="../code.js"></script>
	</body>
</html>
